---
name: Linting
"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: python3 -m pip install yamllint
      - run: python3 -m yamllint --strict .

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
      - run: npm ci
      - run: >
          npx prettier
          --check
          '**/*.{glsl,html,json,md,ts,yaml,yml,prettierrc}'

  typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
      - run: npm ci
      - run: npx tsc --project ./tsconfig.json
